/* General Styling for the Sign-In Page */
.signin-page {
  margin-top: 80px;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Overlay to darken background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form {
  background: rgba(0, 0, 0, 0.75);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.signin-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #b3b3b3;
}

.sign-in-header {
    padding-bottom: 20px;
    font-size: larger;
    font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  background: #333;
  color: #ffffff;
  font-size: 1rem;
}

.form-group input:focus {
  outline: none;
  border: 1px solid #e50914;
}

.signin-button {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.signin-button:hover {
  background-color: var(--color-button-hover);
}

.form-options {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.form-options a {
  color: #b3b3b3;
  text-decoration: none;
  transition: color 0.3s;
}

.form-options a:hover {
  color: #fff;
}

.or-divider {
  margin: 20px 0;
  font-size: 0.9rem;
  color: #b3b3b3;
  position: relative;
}

.or-divider:before,
.or-divider:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #b3b3b3;
}

.or-divider:before {
  left: 0;
}

.or-divider:after {
  right: 0;
}

.signin-code-button {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.signin-code-button:hover {
  background-color: var(--color-primary);
  color: #ffffff;
}

.signup-link {
  margin-top: 20px;
  font-size: 0.9rem;
}

.signup-link a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.recaptcha-note {
  margin-top: 15px;
  font-size: 0.75rem;
  color: #b3b3b3;
}

.recaptcha-note a {
  color: #fff;
  text-decoration: none;
}

.recaptcha-note a:hover {
  text-decoration: underline;
}

@media (max-width: 321px) {
  .signin-page {
    margin-top: px;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}