*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/background-image.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  font-family: 'Roboto', sans-serif;
  color: #ffffff; 
}